/* GENERAL */

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, .btn {
    transition: all 500ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.nav-links {
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem
}

a {
    color: #03a7f1;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

.logo {
    font-size: 2.5rem;
    align-self: auto;
    color: aliceblue;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
}

.ham-bar {
    width: 70%;
    height: 4px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .3s, top .6s;
}

.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
}
.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
    box-shadow: 0 0 4em hsl(0, 0%, 50%), 0 0 0.8em hsl(0, 0%, 50%);
}
.hamburger-menu.active .bar-mid {
    opacity: 0;
    box-shadow: 0 0 4em hsl(0, 0%, 50%), 0 0 0.8em hsl(0, 0%, 50%);
}
.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
    box-shadow: 0 0 4em hsl(0, 0%, 50%), 0 0 0.8em hsl(0, 0%, 50%);
}

.menu-links {
    position: absolute;
    transform-origin: right top;
    top: 5%;
    right: 20%;
    opacity: 0;
    scale: 0%;
    background-color: white;
    box-shadow: 0 0 4em hsl(0, 0%, 50%), 0 0 0.8em hsl(0, 0%, 50%);
    width: auto;
    max-height: 0;
    overflow: hidden;
    border-radius: 20px;
    transition: all 300ms;
}

.menu-links a {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s;
}

.menu-links a:hover {
    scale: 120%;
    transition: all 0.3s;
}

.menu-links li {
    list-style: none;
}

.menu-links.active {
    max-height: 100%;
    right: 25%;
    top: 10%;
    opacity: 1;
    scale: 100%;
    transition: all 0.5s;
}

/* SECTIONS */

section {
    padding-top: 10vh;
    height: 90vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.section__pic {
    display: flex;
    height: 400px;
    width:400px;
}

.section__text {
    text-align: center;
    font-weight: 600;
}

.section__text__h1 {
    text-align: center;
    color: aliceblue;
}

.section__text__h2 {
    text-align: center;
    color: #03a7f1;
}

.section__text__h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.section__text__h1 {
    font-size: 1.5rem;
    margin-top: 6rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    opacity: 0.8;
}

/* ICON */

.icon_git, .icon_link {
    cursor: pointer;
    margin-top: 1rem;
    height: 4rem;
    border-radius: 100%;
    opacity: 0.8;
    transition: all 0.4s;
}

.icon_git:hover {
    opacity: 1;
    scale: 120%;
    box-shadow: 0 0 2em white;
}

.icon_link:hover {
    opacity: 1;
    scale: 120%;
    box-shadow: 0 0 2em white;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    font-weight: 600;
    transition: all 400ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1 {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-color-1:hover {
    cursor: pointer;
    color: rgb(255, 255, 255)
}

.btn-color-1 {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
} 

.btn-color-1:hover {
    background: rgb(11, 11, 11);
    box-shadow: 0 0 1em white;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
    color: aliceblue;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: rgb(8, 8, 10);
    border-radius: 2rem;
    border: rgb(239, 236, 236) 0.1rem solid;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.506), 0 0 4em rgba(255, 255, 255, 0.408);
    text-align: center;
  }
  
  .about_p {
    color: #03a7f1;
  }
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  /* EXPERIENCE SECTION */
  
  #experience {
    position: relative;
  }
  
  .experience-sub-title {
    color: rgb(221, 208, 208);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }

  .paragraph-about {
    color: #03a7f1;
    text-align: justify;
    margin-top: 2rem;
    text-shadow: 0 0 0.125em #03a7f1, 0 0 1em #03a7f1;
  }
  
  /* PROJECTS SECTION */
  .section__text__p1 {
    text-align: center;
    color: #03a7f1;
    font-size: 4rem;
    margin-bottom: 10rem;
    text-shadow: 0 0 0.125em #03a7f1, 0 0 1em #03a7f1;
    cursor: default;
  }

  #projects {
    position: relative;
  }
  
  .color-container {
    border-color: #03a7f1;
    background: rgb(255, 255, 255);
  }
  
  .project-img {
    border-radius: 1rem;
    border-color: #03a7f1;
    max-width: 90%;
    height: fit-content;
  }
  
  .project-title {
    margin: 2rem;
    color: black;
  }
  
  .project-btn {
    color: black;
    border-color: #03a7f1;
  }
  
  .btn-color-2:hover {
    color: #ffffff;
    background-color: #03a7f1;
    box-shadow: 0 0 1em #1c1d1e;
  }
  /* CONTACT */
  
  #contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 65rem;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 3rem;
  }
  
  /* FOOTER SECTION */
  .contact-linkedin, .contact-gmail {
    color: white;
  }
  footer {
    height: 20vh;
    margin: 0 2rem;
  }
  
  footer p {
    text-align: center;
  }

